{% extends 'comum/base.html' %}
{% load templatetags %}
{% load static %}

{% block content %}
		<script language="javascript">
			var pagina_atual = document.getElementById('pagina_atual');
			pagina_atual.style.display = 'none';
		</script>
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<!--begin::Main-->
			<!--begin::Block-->
				<div style="margin-left: 101px; margin-top: 10px;"
					class="py-5">
					<div class="rounded p-10">
						<!--begin::Title-->
						<a href="#" class="text-dark fw-bold fs-2 text-hover-primary">Plataforma autenticada BBZ Boleto, CND e mais…</a>
						<!--end::Title-->
						<!--begin::Desc-->
						<p class="pt-5 fw-semibold text-gray-600 fs-5"></p>
						<!--end::Desc-->
						<div class="nav align-items-center">
							<div class="opacity-state-75  text-white w-101px h-150px d-flex flex-center p-3 me-5 mb-5 fw-semibold" data-bs-toggle="tab">
								<!--begin::Boleto-->
								<a href="{% url 'lista_condominio_unidades_por_cpf' %}?tools=1" class="symbol symbol-150px me-2" data-bs-toggle="tooltip" title="Boleto">           
									<img src="{% static 'assets/imagem/stock/600x400/img-1.jpg' %}" alt="" class="w-100 rounded"/>            
								</a>
								<!--end::Boleto-->  
							</div>
							<div class="opacity-state-75 text-white w-101px h-150px d-flex flex-center p-3 me-5 mb-5 fw-semibold" data-bs-toggle="tab">
								<!--begin::CND-->
								<a href="{% url 'lista_condominio_unidades_por_cpf' %}?tools=2" class="symbol symbol-150px me-2" data-bs-toggle="tooltip" title="CND">                
									<img src="{% static 'assets/imagem/stock/600x400/img-2.jpg' %}" alt="" class="w-100 rounded"/>                 
								</a>
								<!--end::CND-->
							</div>
							<div class="opacity-state-75  text-white w-101px h-150px d-flex flex-center p-3 me-5 mb-5 fw-semibold" data-bs-toggle="tab">
								<!--begin::Pasta Nuvem-->
								<a href="{% url 'lista_condominio_unidades_por_cpf' %}?tools=3" class="symbol symbol-150px me-2" data-bs-toggle="tooltip" title="Pasta Nuvem">                
									<img src="{% static 'assets/imagem/stock/600x400/img-3.jpg' %}" alt="" class="w-100 rounded"/>                
								</a>
								<!--end::Pasta Nuvem-->  
							</div>
							<div class="opacity-state-75  text-white w-101px h-150px d-flex flex-center p-3 me-5 mb-5 fw-semibold" data-bs-toggle="tab">
								<!--begin::Pasta de prestação de contas-->
								<a href="{% url 'lista_condominio_unidades_por_cpf' %}?tools=4" class="symbol symbol-150px me-2" data-bs-toggle="tooltip" title="Pasta de prestação de contas">                
									<img src="{% static 'assets/imagem/stock/600x400/img-4.jpg' %}" alt="" class="w-100 rounded"/>                 
								</a>
								<!--end::Pasta de prestação de contas--> 
							</div>
							<div class="nav-link opacity-state-100 text-white w-101px h-150px d-flex flex-center p-3 me-5 mb-5 fw-semibold" data-bs-toggle="tab">
								<!--begin::Altereção Cadastral-->
								<a href="{% url 'cad_index' %}?tools=5" class="symbol symbol-150px me-2" data-bs-toggle="tooltip" title="Alteração Cadastral">                
									<img src="{% static 'assets/imagem/stock/600x400/img-5.jpg' %}" alt="" class="w-100 rounded"/>                 
								</a>
								<!--end::Altereção Cadastral--> 
							</div>
							
						</div>
					</div>
				</div>
			<!--end::Block-->
		<!--end::Main-->
{% endblock %}