{% extends 'comum/base.html' %}
{% load static %}

{% block content %}
<div class="card card-xxl-stretch" style="width: 1060px;">
	<!--begin::Card body-->
	<div class="card-body d-flex flex-column justify-content-between h-100">
		<!--begin::Section-->
		<div class="pt-12">

					<!--begin::Content-->
						<!--begin::Container-->
						<div class="container-xxl" id="kt_content_container">
							<!--begin::Card-->
							<div class="card card-flush pb-0 bgi-position-y-center bgi-no-repeat mb-10" style="background-size: auto calc(100% + 10rem); background-position-x: 100%; background-image: url('assets/media/illustrations/sigma-1/4.png')">
								<!--begin::Card header-->
								<div class="card-header pt-10">
									<div class="d-flex align-items-center">
										<!--begin::Icon-->
										<div class="symbol symbol-circle me-5">
											<div class="symbol-label bg-transparent text-primary border border-secondary border-dashed">
												<i class="ki-duotone ki-abstract-47 fs-2x text-primary">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</div>
										</div>
										<!--end::Icon-->
										<!--begin::Title-->
										<div class="d-flex flex-column">
											
											<h2 class="mb-1">{{ folder_name.name }}</h2>
											<div class="text-muted fw-bold">
											<!-- <a href="#">Keenthemes</a>
											<span class="mx-3">|</span>
											<a href="#">File Manager</a> -->
											<!-- <span class="mx-3">|</span>2.6 GB -->
											<!-- <span class="mx-3">|</span>758 items</div> -->
											
										</div>
										<!--end::Title-->
									</div>
								</div>
								<!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body pb-0">
									
								</div>
								<!--end::Card body-->
							</div>
							<!--end::Card-->
							
							
							<!--begin::Card-->
							<div class="card card-flush">
								<!--begin::Card header-->
								<div class="card-header pt-8">
									<div class="card-title">
										<!--begin::Search-->
										<div class="d-flex align-items-center position-relative my-1">
											<i class="ki-duotone ki-magnifier fs-1 position-absolute ms-6">
												<span class="path1"></span>
												<span class="path2"></span>
											</i>
											<form action="{% url 'pasta_prest_conta' %}" method="post">
											{% csrf_token %}
												<table>
													<tr>
														<td><input name="search" type="text" data-kt-filemanager-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Files & Folders" /></td>
														<td><input class="form-floating mb-7 btn btn-primary hover-elevate-up" type="submit" value="Buscar" /></td>
														<input hidden name="is_search" value="1" />
														<input hidden name="folder_id" value="0By6djoRj_4OYN1RMVloyRmttNEU" />
													</tr>
												</table>
											</form>
										</div>
										<!--end::Search-->
									</div>
									<!--begin::Card toolbar-->
									<div class="card-toolbar">
										
										<!--begin::Group actions-->
										<div class="d-flex justify-content-end align-items-center d-none" data-kt-filemanager-table-toolbar="selected">
											<div class="fw-bold me-5">
											<span class="me-2" data-kt-filemanager-table-select="selected_count"></span>Selected</div>
											<button type="button" class="btn btn-danger" data-kt-filemanager-table-select="delete_selected">Delete Selected</button>
										</div>
										<!--end::Group actions-->
									</div>
									<!--end::Card toolbar-->
								</div>
								<!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body">
									<!--begin::Table header-->
									<div class="d-flex flex-stack">
										<!--begin::Folder path-->
										<div class="badge badge-lg badge-light-primary">
											<div class="d-flex align-items-center flex-wrap">
												<i class="ki-duotone ki-abstract-32 fs-2 text-primary me-3">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
												{% for folder in folders_tree %}
												<a href="{% url 'pasta_prest_conta' %}?folder_id={{ folder.id }}">{{ folder.name }}</a>
												<i class="ki-duotone ki-right fs-2 text-primary mx-1"></i>
												{% endfor %}
												
											</div>
										</div>
										<!--end::Folder path-->
										<!--begin::Folder Stats-->
										<div class="badge badge-lg badge-primary">
											<span id="kt_file_manager_items_counter">{{ qtd_registros }}</span>
										</div>
										<!--end::Folder Stats-->
									</div>
									<!--end::Table header-->
									<!--begin::Table-->
									<table id="kt_file_manager_list" data-kt-filemanager-table="folders" class="table align-middle table-row-dashed fs-6 gy-5">
										<thead>
											<tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
												<th class="w-10px pe-2"></th>
												<th class="min-w-250px">Nome</th>
												<th class="min-w-10px">Tamanho</th>
												<th class="min-w-125px">Ultima modificação</th>
												<th class="w-125px"></th>
											</tr>
										</thead>
										<tbody class="fw-semibold text-gray-600">
											{% for folder in folders %}
											<tr>
												<td></td>
												<td data-order="account">
													<div class="d-flex align-items-center">
														<span class="icon-wrapper">
															<i class="ki-duotone ki-folder fs-2x text-primary me-4">
																<span class="path1"></span>
																<span class="path2"></span>
															</i>
														</span>
														<a href="{% url 'pasta_prest_conta' %}?folder_id={{ folder.id }}" class="text-gray-800 text-hover-primary">{{ folder.name }}</a>
													</div>
												</td>
												<td>-</td>
												<td>-</td>
												<td class="text-end" data-kt-filemanager-table="action_dropdown"></td>
											</tr>
											{% endfor %}

											{% for file in files %}
											<tr>
												<td></td>
												<td data-order="landing.html">
													<div class="d-flex align-items-center">
														<i class="ki-duotone ki-file fs-2x text-primary me-4">
															<span class="path1"></span>
															<span class="path2"></span>
														</i>
														<a href="{{ file.webContentLink }}" class="text-gray-800 text-hover-primary">{{ file.name }}</a>
													</div>
												</td>
												<td>{{ file.size }} bytes</td>
												<td>{{ file.createdTime }}</td>
												<td class="text-end" data-kt-filemanager-table="action_dropdown">...</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<!--end::Table-->
								</div>
								<!--end::Card body-->
							</div>
						</div>
		</div>
	</div>
</div>
										
{% endblock %}