{% load static %}
<!DOCTYPE html>
<html lang="pt">
	<!--begin::Head-->
	{% include 'comum/partial/_head.html' %}
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<script>
			$('#kt_docs_maxlength_basic').maxlength({
				warningClass: "badge badge-warning",
				limitReachedClass: "badge badge-success"
			});    
		</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::Main-->
		{% include 'comum/partial/_menu.html' %}
		<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="width: 1000px;">
    <!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <!--begin::Row-->
        <div class="row g-5 gx-xxl-8 mb-xxl-3">
            <div class="col-xxl-2"></div>
            <!--begin::Col-->
            <div class="col-xxl-8">
                <!--begin::Engage Widget 1-->
                

        {% block content %}{% endblock %}

						


            </div>
        </div>
    </div>
</div>



		{% include 'comum/partial/_footer.html' %}
    </body>
	<!--end::Body-->
</html>