
    <!--begin::Input group CEP-->
    <div class="form-floating mb-7">
        <input type="email" class="form-control" name="new_cep" id="new_cep" placeholder="13483-000"/>
        <label for="floatingInput">CEP</label>
    </div>
    <!--end::Input group CEP-->
    <table>
        <tr>
            <td>
                <!--begin::Input group uf-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control" name="new_state" id="new_state" placeholder="13483-000"/>
                    <label for="floatingInput">UF</label>
                </div>
                <!--end::Input group uf-->
            </td>
            <td>
                <!--begin::Input group cidade-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control" name="new_city" id="new_city" placeholder="13483-000"/>
                    <label for="floatingInput">Cidade</label>
                </div>
                <!--end::Input group cidade-->
            </td>
        </tr>
        <tr>
            <td>
                <!--begin::Input group cidade-->
                <div class="form-floating mb-7">
                    <input type="email" class="form-control" name="new_neighborhood" id="new_neighborhood" placeholder="13483-000"/>
                    <label for="floatingInput">Bairro</label>
                </div>
                <!--end::Input group cidade-->
            </td>
            <td>
                <!--begin::Input group Endereço-->
            <div class="form-floating mb-7">
                <input type="email" class="form-control" name="new_address" id="new_address" placeholder="13483-000"/>
                <label for="floatingInput">Endereço</label>
            </div>
            <!--end::Input group Endereço-->
            </td>
        </tr>
        <tr>
            <td>
                <!--begin::Input group Número-->
                
                    <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="new_number" id="new_number" placeholder="13483-000"/>
                        <label for="floatingInput">Número</label>
                    </div>
                    <!--end::Input group Número-->
            </td>
            <td>
                <!--begin::Input group complemento-->
                
                <div class="form-floating mb-7">
                    <input type="email" class="form-control" name="new_complement" id="new_complement" placeholder="13483-000"/>
                    <label for="floatingInput">Complemento</label>
                </div>
                <!--end::Input group complemento-->
            </td>
        </tr>
    </table>

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
    /*
     * Para efeito de demonstração, o JavaScript foi
     * incorporado no arquivo HTML.
     * O ideal é que você faça em um arquivo ".js" separado. Para mais informações
     * visite o endereço https://developer.yahoo.com/performance/rules.html#external
     */
    
    // Registra o evento blur do campo "cep", ou seja, a pesquisa será feita
    // quando o usuário sair do campo "cep"
    $("#new_cep").blur(function(){
        // Remove tudo o que não é número para fazer a pesquisa
        var cep = this.value.replace(/[^0-9]/, "");
        
        // Validação do CEP; caso o CEP não possua 8 números, então cancela
        // a consulta
        if(cep.length != 8){
            return false;
        }
        
        // A url de pesquisa consiste no endereço do webservice + o cep que
        // o usuário informou + o tipo de retorno desejado (entre "json",
        // "jsonp", "xml", "piped" ou "querty")
        var url = "https://viacep.com.br/ws/"+cep+"/json/";
        
        // Faz a pesquisa do CEP, tratando o retorno com try/catch para que
        // caso ocorra algum erro (o cep pode não existir, por exemplo) a
        // usabilidade não seja afetada, assim o usuário pode continuar//
        // preenchendo os campos normalmente
        $.getJSON(url, function(dadosRetorno){
            try{
                // Preenche os campos de acordo com o retorno da pesquisa
                $("#new_address").val(dadosRetorno.logradouro);
                $("#new_neighborhood").val(dadosRetorno.bairro);
                $("#new_city").val(dadosRetorno.localidade);
                $("#new_state").val(dadosRetorno.uf);
            }catch(ex){}
        });
    });
</script>