{% extends 'comum/base.html' %}
{% load static %}

{% block content %}


                            <!--begin::Item-->
                            <div data-kt-stepper-element="content"> 
                                <div class="w-100 text-center">
                                    <h2>Serão solicitadas as seguintes informações, as quais são obrigatórias:</h2><br />
                                    <h4>Foi gerado um ticket nº 90837428094572</h4>
                                    <div class="w-lg-w-lg-900px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                                        <!--begin::Accordion-->
                                        <div class="accordion accordion-icon-collapse" id="kt_accordion_3">
                                            <!--begin::Item-->
                                            <div class="mb-5">
                                                <!--begin::Header-->
                                                <div class="accordion-header py-3 d-flex collapsed" data-bs-toggle="collapse" data-bs-target="#kt_accordion_3_item_1">
                                                    <span class="accordion-icon">
                                                        <i class="ki-duotone ki-plus-square fs-3 accordion-icon-off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                        <i class="ki-duotone ki-minus-square fs-3 accordion-icon-on"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                    <h3 class="fs-4 fw-semibold mb-0 ms-4">Alteração de proprietário</h3>
                                                </div>
                                                <!--end::Header-->

                                                <!--begin::Body-->
                                                <div id="kt_accordion_3_item_1" class="collapse fs-6 ps-10" data-bs-parent="#kt_accordion_3">
                                                    <h2>Serão solicitados os seguintes documentos, os quais são obrigatórios:</h2><br />
                                                        
                                                            1º) Contrato de compra e venda / IPTU atualizado / Registro de imóveis.<br />
                                                            2º) Documento do proprietário (RG/CNH/CNPJ).<br />
                                                            3º) CPF/CNPJ do novo proprietário.<br />
                                                            4º) E-mail do novo proprietário.<br />
                                                            5º) Endereço de cobrança.<br />
                                                            <br />
                                                            OBS.: Essa funcionalidade, serve apenas para atualizar os dados do proprietário.<br />
                                                        
                                                    
                                                    <br />
                                                    <a href="{% url 'alterar_proprietario' %}" class="btn btn-icon-primary btn-text-primary">
                                                        <i class="ki-duotone ki-graph-3 fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                        Seguir
                                                    </a>
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Item-->

                                            <!--begin::Item-->
                                            <div class="mb-5">
                                                <!--begin::Header-->
                                                <div class="accordion-header py-3 d-flex collapsed" data-bs-toggle="collapse" data-bs-target="#kt_accordion_3_item_2">
                                                    <span class="accordion-icon">
                                                    <i class="ki-duotone ki-plus-square fs-3 accordion-icon-off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                    <i class="ki-duotone ki-minus-square fs-3 accordion-icon-on"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                    <h3 class="fs-4 fw-semibold mb-0 ms-4">Atualizar dados do do Locatário</h3>
                                                </div>
                                                <!--end::Header-->

                                                <!--begin::Body-->
                                                <div id="kt_accordion_3_item_2" class="collapse fs-6 ps-10" data-bs-parent="#kt_accordion_3">
                                                    <h2>Serão solicitados os seguintes documentos, os quais são obrigatórios:</h2><br />
                                                        
                                                            1º) Contrato de locação devidamente assinado.<br />
                                                            2º) Documento do locatário (RG/CNH/CNPJ).<br />
                                                            3º) CPF/CNPJ do locatário.<br />
                                                            4º) E-mail locatário.<br />
                                                            5º) Endereço de cobrança.<br />
                                                            6º) Formato de desmembramento das taxas.<br />
                                                            7º) Termo de rescisão do contrato, (exclusão).<br />
                                                            8º) Data de encerramento do contrato, (exclusão).<br />
                                                            <br />
                                                            OBS.: Essa funcionalidade, serve apenas para atualizar os dados do locatário.<br />
                                                        
                                                    
                                                    <br />
                                                    <a href="{% url 'alterar_locatario' %}" class="btn btn-icon-primary btn-text-primary">
                                                        <i class="ki-duotone ki-graph-3 fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                        Seguir
                                                    </a>
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Item-->

                                            <!--begin::Item-->
                                            <div class="mb-5">
                                                <!--begin::Header-->
                                                <div class="accordion-header py-3 d-flex collapsed" data-bs-toggle="collapse" data-bs-target="#kt_accordion_3_item_3">
                                                    <span class="accordion-icon">
                                                    <i class="ki-duotone ki-plus-square fs-3 accordion-icon-off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                    <i class="ki-duotone ki-minus-square fs-3 accordion-icon-on"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                    <h3 class="fs-4 fw-semibold mb-0 ms-4">Atualizar dados de contato</h3>
                                                </div>
                                                <!--end::Header-->

                                                <!--begin::Body-->
                                                <div id="kt_accordion_3_item_3" class="collapse fs-6 ps-10" data-bs-parent="#kt_accordion_3">
                                                    <h2>Serão solicitadas as seguintes informações, as quais são obrigatórias:</h2><br />
                                                        
                                                            1) Nome do responsável atual,(proprietário ou locatário).<br />
                                                            2) Documento do responsável atual, (RG/CNH/CNPJ).<br />
                                                            3) Endereço do condomínio.<br />
                                                            4) Unidade.<br />
                                                            5) Novos dados de contato (telefone/e-mail/endereço de cobrança)<br />
                                                            <br />
                                                            OBS.: Essa funcionalidade, serve apenas para atualizar os dados como E-Mail e/ou Telefone de contato.<br />
                                                        
                                    
                                                    <br />
                                                    <a href="{% url 'alterar_dados' %}" class="btn btn-icon-primary btn-text-primary">
                                                        <i class="ki-duotone ki-graph-3 fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                        Seguir
                                                    </a>
                                                </div>
                                                <!--end::Body-->
                                            </div>
                                            <!--end::Item-->
                                        </div>
                                        <!--end::Accordion-->



                                    </div>
                                </div>
                            </div>
                            <!--end::Item-->


{% endblock %}
