{% extends 'comum/base.html' %}
{% load static %}

{% block content %}
<script>

    function proximaPagina(){
        var form = $("#form_dados_condominio");
        var dados = form.serialize();
        $.ajax({
            type: "GET",
            url: "{% url 'cria_sessao_form_passo1' %}",
            data: dados,
            success: function(data){
                $("#kt_tab_pane_5").html(data);
                $("#escolha_2").css("display", "block");
                $("#escolha_2").addClass("nav-link active");
                $("#escolha_1").removeClass("active").addClass("nav-link");
            },
            error: function(data){
                console.log(data);
            }
        });
    }
</script>
<form action="{% url 'teste_km' %}" method="post" enctype="multipart/form-data" name="form_dados_condominio" id="form_dados_condominio">
{% csrf_token %}
    <div style="margin-left: 130px;" style="width: 700px;">
        <!--begin::Tabs-->
        <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
            <li class="nav-item">
                <a class="nav-link active" id="escolha_1" data-bs-toggle="tab" href="#kt_tab_pane_4">Dados do condomínio</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">Editar Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="escolha_2" data-bs-toggle="tab" href="#kt_tab_pane_5">Escolha o que deseja Alterar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_7">Alterar Proprietário</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_8">Alterar Inquilino</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="kt_tab_pane_4" role="tabpanel">
                {% include 'cadastro/dados_condominio.html' %}
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_5" role="tabpanel">
                {% include 'cadastro/selecao_desejada.html' %}
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_6" role="tabpanel">
                {% include 'cadastro/novos_alterar_dados.html' %}
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_7" role="tabpanel">
                Alterar Proprietário
            </div>
            <div class="tab-pane fade" id="kt_tab_pane_8" role="tabpanel">
                Alterar Inquilino
            </div>
        </div>
        <!--end::Tabs-->
        <div id="conteudo"></div> 
    </div>
</form>
{% endblock %}