{% extends 'comum/base.html' %}
{% load static %}

{% block content %}


                                <!--begin::Title Conteudo-->
                                <h3 class="text-gray-900 text-center fs-1 fw-bolder line-height-lg">Formulário de Alteração Cadastral</h3>
                                <div class="w-lg-w-lg-900px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                                    Em conformidade com a Lei Geral de Proteção de Dados (LGPD - Lei nº 13.709/2018), <br />a CASA reafirma seu compromisso com a segurança e confidencialidade dos seus dados pessoais.
                                    <br /><br />
                                    Este formulário se destina à atualização cadastral, garantindo a precisão das informações <br />aque mantemos. Seus dados serão tratados com sigilo e não serão compartilhados sem sua autorização prévia.
                                    <br /><br />
                                    Ao continuar, você concorda expressamente com o uso dos seus dados pessoais pela CASA <br />apara os fins especificados neste formulário e para as finalidades previstas na LGPD.
                                    <br /><br />
                                    <a href="{% url 'escolha_atualizacao' %}" class="btn btn-light-success">Aceitar</a> - <a href="#" class="btn btn-light-danger">Não Aceitar</a>
                                </div>
                                <!--Acaba o conteudo-->

 
{% endblock %}