{% extends 'cadastro/base.html' %}
{% load static %}

{% block content %}
    <div>
        <table>
            
            <h1>Formulário de Alteração Cadastral</h1>
            <tr>
                <td colspan="2">
                    Em conformidade com a Lei Geral de Proteção de Dados (LGPD - Lei nº 13.709/2018), a BBZ Administração de Condomínio reafirma seu compromisso com a segurança e confidencialidade dos seus dados pessoais.
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Este formulário se destina à atualização cadastral, garantindo a precisão das informações que mantemos. Seus dados serão tratados com sigilo e não serão compartilhados sem sua autorização prévia.
                </td>
            </tr>
            </tr>
                <td colspan="2">
                Ao continuar, você concorda expressamente com o uso dos seus dados pessoais pela BBZ Administração de Condominio para os fins especificados neste formulário e para as finalidades previstas na LGPD.
                </td>
            </tr>
            <tr>
                <td>
                    <td><a href="{% url 'escolha_atualizacao' %}">Aceito</a></td>>
                </td>
                <td>
                    <input type="button" value="Não Aceito" />
                </td>
            </tr>
        </table>
    </div>
    
{% endblock %}