<script language="javascript">
        // set the dropzone container id
    const id = "#kt_dropzonejs_example_3";
    const dropzone = document.querySelector(id);

    // set the preview element template
    var previewNode = dropzone.querySelector(".dropzone-item");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);

    var myDropzone = new Dropzone(id, { // Make the whole body a dropzone
    url: "https://keenthemes.com/scripts/void.php", // Set the url for your upload script location
    parallelUploads: 20,
    maxFilesize: 1, // Max filesize in MB
    previewTemplate: previewTemplate,
    previewsContainer: id + " .dropzone-items", // Define the container to display the previews
    clickable: id + " .dropzone-select" // Define the element that should be used as click trigger to select files.
    });

    myDropzone.on("addedfile", function (file) {
    // Hookup the start button
    const dropzoneItems = dropzone.querySelectorAll('.dropzone-item');
    dropzoneItems.forEach(dropzoneItem => {
    dropzoneItem.style.display = '';
    });
    });

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
    const progressBars = dropzone.querySelectorAll('.progress-bar');
    progressBars.forEach(progressBar => {
    progressBar.style.width = progress + "%";
    });
    });

    myDropzone.on("sending", function (file) {
    // Show the total progress bar when upload starts
    const progressBars = dropzone.querySelectorAll('.progress-bar');
    progressBars.forEach(progressBar => {
    progressBar.style.opacity = "1";
    });
    });

    // Hide the total progress bar when nothing"s uploading anymore
    myDropzone.on("complete", function (progress) {
    const progressBars = dropzone.querySelectorAll('.dz-complete');

    setTimeout(function () {
    progressBars.forEach(progressBar => {
    progressBar.querySelector('.progress-bar').style.opacity = "0";
    progressBar.querySelector('.progress').style.opacity = "0";
    });
    }, 300);
    });

    // The DOM elements you wish to replace with Tagify
    var input = document.querySelector("#kt_tagify");

    // Initialize Tagify components on the above inputs
    new Tagify(input);
</script>
<script language="javascript">
    function atualizar_form_proprietario(){
        $.ajax({
            url: "/atualizar_form_proprietario/",
            type: "GET",
            data: {
                condominio: $("#condominio").val(),
                bloco: $("#bloco").val(),
                unidade: $("#unidade").val()
            },
            success: function (data) {
                alert(data);
            },
            error: function(xhr, status, error) {
            // Aqui você pode tratar erros da requisição
            alert(error)
            console.log(error);
            }
        });
    }
</script>
<div class="table-responsive" style="width: 550px;">
    <table class="table gs-7 gy-7 gx-7">
        <h2>O que deseja alterar  - <input type="button" onclick="atualizar_form_proprietario()" value="Carregar dados do Proprietário" /></h2><br />
        <input type="hidden" name="condominio" id="condominio" value="18" />
        <input type="hidden" name="bloco" id="bloco" value="0" />
        <input type="hidden" name="unidade" id="unidade" value="17" />
            
               
                    <!--begin::Input group NOVO EMAIL-->
                    <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="proprietario" id="new_owner" placeholder="João da Silva"/>
                        <label for="floatingInput">Nome do proprietário novo</label>
                    </div>
                    <!--end::Input group NOVO EMAIL-->

                    <!--begin::Input group NOVO EMAIL-->
                    <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="tipo_pessoa" id="type_owner" placeholder="name@example.com"/>
                        <label for="floatingInput">Pessoa fisica ou juritica</label>
                    </div>
                    <!--end::Input group NOVO EMAIL-->

                    <!--begin::Input group NOVO EMAIL-->
                    <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="cnpj_cpf_novo" id="new_cpf_cnpj" placeholder="name@example.com"/>
                        <label for="floatingInput">CPF/CNPJ</label>
                    </div>
                    <!--end::Input group NOVO EMAIL-->

                    <!--begin::Input group NOVO EMAIL-->
                    <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="novo_telefone" id="new_phone" placeholder="name@example.com"/>
                        <label for="floatingInput">Telefone</label>
                    </div>
                    <!--end::Input group NOVO EMAIL-->

                    <!--begin::Input group NOVO EMAIL-->
                    <div class="form-floating mb-7">
                        <input class="form-control form-control-lg form-control-solid" placeholder="Insira o E-Mail" value="tag1, tag2, tag3" id="kt_tagify"/>
                    </div>
                    <!--end::Input group NOVO EMAIL-->

                    <!--begin::Input group NOVO EMAIL-->
                    <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="forma_desmembramento_taxa" id="tax" placeholder="Proprietário, Locatario, ambos"/>
                        <label for="floatingInput">Formato de desmembramento das taxas(proprietário, locatario, ambos)</label>
                    </div>
                    <!--end::Input group NOVO EMAIL-->

                    <!--begin::Input group NOVO EMAIL-->
                    <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="espolio" id="espolio" placeholder="name@example.com"/>
                        <label for="floatingInput">Espólio/ Inventário/ Partilha de Bens/ Procuração judicial:
                        </label>
                    </div>
                    <!--end::Input group NOVO EMAIL-->

                    <!--begin::Input group novo CEP-->
                    {% include 'cadastro/cep_novo.html' %}
                    <!--end::Input group novo CEP-->

                    <!--begin::Input group Enviar Arquivos-->
                           

                    <!--Begin uploader-->
                        <!--begin::Input group-->
                        <div class="form-group row">
                            <!--begin::Label-->
                            <label class="col-lg-2 col-form-label text-lg-right">Upload de Arquivos:</label>
                            <!--end::Label-->

                            <!--begin::Col-->
                            <div class="col-lg-10">
                                <!--begin::Dropzone-->
                                <div class="dropzone dropzone-queue mb-2" id="kt_dropzonejs_example_3">
                                    <!--begin::Controls-->
                                    <div class="dropzone-panel mb-lg-0 mb-2">
                                        <a class="dropzone-select btn btn-sm btn-primary me-2">Faça o Upload</a>
                                        <a class="dropzone-remove-all btn btn-sm btn-light-primary">Remova todos</a>
                                    </div>
                                    <!--end::Controls-->
                                    <!--begin::Items-->
                                    <div class="dropzone-items wm-200px">
                                        <div class="dropzone-item" style="display:none">
                                            <!--begin::File-->
                                            <div class="dropzone-file">
                                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                                    <span data-dz-name>some_image_file_name.jpg</span>
                                                    <strong>(<span data-dz-size>340kb</span>)</strong>
                                                </div>

                                                <div class="dropzone-error" data-dz-errormessage></div>
                                            </div>
                                            <!--end::File-->
                                            <!--begin::Progress-->
                                            <div class="dropzone-progress">
                                                <div class="progress">
                                                    <div
                                                        class="progress-bar bg-primary"
                                                        role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Progress-->
                                            <!--begin::Toolbar-->
                                            <div class="dropzone-toolbar">
                                                <span class="dropzone-delete" data-dz-remove><i class="bi bi-x fs-1"></i></span>
                                            </div>
                                            <!--end::Toolbar-->
                                        </div>
                                    </div>
                                    <!--end::Items-->
                                </div>
                                <!--end::Dropzone-->
                                <!--begin::Hint-->
                                <span class="form-text text-muted">Tamanho maximo do arquivo é 1MB e o número maximo é 5.</span>
                                <!--end::Hint-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                    <!--End uploader-->
                    <!--end::Input group Enviar Arquivos-->
                    <br />
                     <!--begin::Input group Info Add-->
                     <div class="form-floating mb-7">
                        <input type="email" class="form-control" name="additional" id="additional" placeholder="Informação adicional"/>
                        <label for="floatingInput">Deseja fornecer alguma informação adicional?</label>
                    </div>
                     <!--end::Input group Info Add-->
    </table>
</div>